<section class="main">
    <div class="starfield"></div>
    <div>
        <h2>Hello, I'm Kareem<br><span class="hero-word">Full-Stack</span><br></h2>
        <h3>Developer</h3>
        <h2>Visitor no. <span class="hero-count">{{count}}</span></h2>
        <a href="#projects" class="main-btn">View my work</a>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/kareem-moataz-19975b253/" target="_blank"><i
                    class="socials fab fa-linkedin"></i></a>
            <a href="https://github.com/KareemMoataz02" target="_blank"><i class="socials fab fa-github"></i></a>
        </div>
    </div>
</section>
<section class="cards" id="services">
    <h2 class="title">Services</h2>
    <div class="content">
        <div class="card">
            <div class="icon">
                <fa-icon [icon]="faTint"></fa-icon>
            </div>
            <div class="info">
                <h3>UI design</h3>
                <p>Create customized UI designs for each client and startup identity.</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <fa-icon [icon]="faWindowRestore"></fa-icon>
            </div>
            <div class="info">
                <h3>Html & css</h3>
                <p>Create HyperText Markup Language & Cascading style sheets code in order to structure a web page
                    and create its layout and contents.</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <fa-icon [icon]="faMobile"></fa-icon>
            </div>
            <div class="info">
                <h3>Responsive</h3>
                <p> Creating websites that will rescale itself to preserve the user experience ,look and feel across
                    all devices.</p>
            </div>
        </div>
    </div>
</section>
<section class="projects" id="projects">
    <h2 class="title">Projects</h2>
    <div class="content col-sm-12">
        <div class="project-card">
            <div class="project-image">
                <img src="./assets/images/Projects/18FD2468-25AA-4952-AC0C-98CB68C1BFA6.jpeg" nopin="nopin"
                    alt="project image">
            </div>
            <div class="project-info">
                <p class="project-category">Simple Calculator</p>
                <strong class="project-title">
                    <span>JavaScript</span>
                    <a href="https://kareemmoataz02.github.io/Simple-Calculator/" target="_blank"
                        class="more-details">More
                        details</a>
                </strong>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="./assets/images/Projects/Screenshot 2023-07-01 210203.jpg" nopin="nopin" alt="project image">
            </div>
            <div class="project-info">
                <p class="project-category">MEAN-stack Blog</p>
                <strong class="project-title">
                    <span>JavaScript</span>
                    <a href="https://blog-kareemmoataz02.vercel.app/" target="_blank" class="more-details">More
                        details</a>
                </strong>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="./assets/images/Projects/black-bronze.png" nopin="nopin" alt="project image">
            </div>
            <div class="project-info">
                <p class="project-category">Al-Sama</p>
                <strong class="project-title">
                    <span>Responsive web</span>
                    <a href="https://kareemmoataz02.github.io/Al-Sama/" target="_blank" class="more-details">More
                        details</a>
                </strong>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="./assets/images/Projects/profileLogo.jpg" nopin="nopin" alt="project image">
            </div>
            <div class="project-info">
                <p class="project-category">Marzone Digital Marketing agency</p>
                <strong class="project-title">
                    <span>Framework Angular</span>
                    <a href="http://www.marzone.net" target="_blank" class="more-details">More details</a>
                </strong>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="./assets/images//Projects/logo1.png" nopin="nopin" alt="project image">
            </div>
            <div class="project-info">
                <p class="project-category">Archer Capital</p>
                <strong class="project-title">
                    <span>Responsive web</span>
                    <a href="https://kareemmoataz02.github.io/ArcherCapital/" target="_blank" class="more-details">More
                        details</a>
                </strong>
            </div>
        </div>
    </div>
</section>
<section class="projects" id="certificates">
    <h2 class="title">Certificates</h2>
    <div id="clientsCarousel" class="carousel w-100" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#clientsCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#clientsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#clientsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#clientsCarousel" data-bs-slide-to="3" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-container">
                    <div class="certificate-card">
                        <div class="certificate-image">
                            <img src="./assets/images/Certificates/Job_Profile_-_EN_page-0001.jpg" alt="Mahara-Teck"
                                nopin="nopin">
                        </div>
                        <div class="project-info">
                            <p class="project-category">Mern Stack Developer</p>
                            <strong class="project-title">
                                <span>Certificate</span>
                                <a href="https://maharatech.gov.eg/mod/customcert/verify_certificate.php?contextid=469694&code=OI5tPJcRLt&qrcode=1"
                                    target="_blank" class="more-details">More
                                    details</a>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" id="#clientsCarousel">
                <div class="cards-container" id="#clientsCarousel1">
                    <div class="certificate-card">
                        <div class="certificate-image">
                            <img src="./assets/images//Certificates/fullstack.jpeg" alt="Full-Stack" nopin="nopin">
                        </div>
                        <div class="project-info">
                            <p class="project-category">Full-Stack Web Developer Linkedin</p>
                            <strong class="project-title">
                                <span>Certificate</span>
                                <a href="https://www.linkedin.com/learning/certificates/96c68e05c289631d8f0a05811a79f91cfdb1862731ebb0dc354d462d52e88584"
                                    target="_blank" class="more-details">More
                                    details</a>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" id="#clientsCarousel">
                <div class="cards-container" id="#clientsCarousel2">
                    <div class="certificate-card">
                        <div class="certificate-image">
                            <img src="./assets/images/Certificates/sprints_page-0001.jpg" alt="Sprints" nopin="nopin">
                        </div>
                        <div class="project-info">
                            <p class="project-category">Sprints Agency</p>
                            <strong class="project-title">
                                <span>Certificate</span>
                                <a href="https://drive.google.com/file/d/1B12byPqFtC_q8v101rOvTqlpUpcqWbzL/view?usp=sharing"
                                    target="_blank" class="more-details">More details</a>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item" id="#clientsCarousel">
                <div class="cards-container" id="#clientsCarousel3">
                    <div class="certificate-card">
                        <div class="certificate-image">
                            <img src="./assets/images/Certificates/hopkins_page-0001.jpg" alt="Hopkins" nopin="nopin">
                        </div>
                        <div class="project-info">
                            <p class="project-category">University Of Hopkins</p>
                            <strong class="project-title">
                                <span>Certificate</span>
                                <a href="https://drive.google.com/file/d/1TYAL0qKL7N3_8erfbAmFBFr5_nyHeFBw/view?usp=sharing"
                                    target="_blank" class="more-details">More details</a>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cards contact" id="contact">
    <h2 class="title">Let's work together</h2>
    <div class="content">
        <div class="card">
            <div class="icon">
                <fa-icon [icon]="faPhone"></fa-icon>
            </div>
            <div class="info">
                <h3>Phone</h3>
                <a href="tel:01001414443">01001414443</a>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </div>
            <div class="info">
                <h3>Email</h3>
                <p>Kareemmoataz13@gmail</p>
            </div>
        </div>
    </div>
</section>